<table class="table is-fullwidth">
  <thead>
    <th>Place</th>
    <th>Place name</th>
    <th>Rate</th>
    <th>Review</th>
    <th>Creator</th>
  </thead>
  <tbody>
    {{#each reviews}}
      <tr>
        <td>{{this.place}}</td>
        <td>{{this.place.placename}}</td>
        <td>{{this.rate}}</td>
        <td>{{this.review}}</td>
        <td>{{this.donor}}</td>
        
      </tr>
    {{/each}}
  </tbody>
</table>
{{!-- <div class="box">
  <div class="title is-5"> Average Rate:  {{average}}, Total Registerd Places:  {{count}} </div>
</div> --}}