<div class="box has-text-centered columns m-2">
  <div class="column">
    <img src="/images/img3.png" width="120" alt="img"/>
  </div>
  <div class="column">
    <div class="title is-5"> {{title}} </div>
    <div class="subtitle is-5"> {{subTitle}} </div>
  </div>
  <div class="column">
    <i class="fas fa-solid fa-map fa-3x" style="color:rgb(32, 140, 255)" title="Source repo" pos="bottom" uk-tooltip></i>
    {{#if user}}
      <div class="is-size-7">Welcome {{user.firstName}} {{user.lastName}}!!!!</div>
    {{else}}
      <div class="is-size-7">Point of Interest</div>
    {{/if}}
  </div>
</div>
