<div class="columns is-vcentered">
  <div class="column is-one-thirds">
    {{> TitleBar title="Walk Trail POI" subTitle="User update"}}
  </div>
  <div class="column is-one-thirds">
    {{> MainNavigator active="edituser"}}
  </div>
</div>
<label>User Details:</label>

<form class="box"  action="/updateuser/{{user._id}}" method="POST">
  <tr>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label for="firstName">First Name:</label><input class="input" type="text" name="firstName", value="{{user.firstName}}">
        </div>
        <div class="field">
          <label for="lastName">Last Name:</label><input class="input" type="text" name="lastName" value="{{user.lastName}}">
        </div>
        <div class="field">
          <label for="email">Email:</label><input class="input" type="text"  name="email" value="{{user.email}}">
        </div>
        <div class="field">
          <label for="password">Password:</label><input class="input" type="text"  name="password" value="{{user.password}}">
        </div>
        <div class="field">
          <label for="admin">Admin:</label><input class="input" type="boolean"  name="admin" value="{{user.admin}}"disabled>
        </div>
      </div>
    </div>
    <button class="button is-primary">Update User</button>
</form>

